<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fuel Calculator</title>
        <link href="static/w3.css" rel="stylesheet" type="text/css">
        <link href="static/main.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <!-- JQuery UI theme -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <!-- integrity and crossorigin were supplied by the official jquery CDN -->
    </head>
    <body>
        <ul class="w3-bottombar w3-border-light-green w3-navbar w3-green w3-top">
            <li class="w3-padding-large">
                <h3>Fuel Calculator</h3>
            </li>
            <div class="w3-right">
                <li class=" w3-hide-small w3-padding-large">
                    <h3>
                        Hello, <span id="hello">%</span>
                    </h3>
                </li>
                <!-- lazy in-line styling, a quick hack outside of the main W3.CSS library -->
                <li style="position:relative; top: 11px" class="w3-padding-large">
                    <button class="w3-hide-small w3-btn-block w3-round-xxlarge w3-white" id="logout" onclick="logout_btn()">Logout</button>
                </li>
            </div>
        </ul>
        <script>
            var userName = document.cookie.replace(/(?:(?:^|.*;\s*)fname\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            //handy cookie retreival, code found on Mozilla docs
            console.log(userName)
            document.getElementById('hello').innerHTML = userName;
            function logout_btn() {
                window.location.href = "http://localhost:8080/";
            }
        </script>
        <!-- frontend form -->
        <div style="margin-top:50px" class="w3-container">
            <div class="w3-card-4 w3-margin container">
                <div class="w3-margin-left w3-padding-64">
                    Enter date when gas was filled: <input class="w3-input" type="text" id="datepicker" name="date" placeholder="mm/dd/yyyy">
                    Total price spend on gas: ($ USD) <input class="w3-input" type="text" id="price" name="price">
                    Gallons of gas filled during fueling: (G) <input class="w3-input" type="text" id="gallons" name="gallons">
                    Odometer reading when the car was previously fueled? (Miles) <input class="w3-input" type="text" id="distbefore" name="distbefore">
                    Odometer reading when the car was recently fueled? (Miles)<input class="w3-input" type="text" id="distafter" name="distafter">
                    <br>
                    <button id="calculateb" class="w3-btn-block w3-round-xxlarge w3-green container">Calculate MPG!</button>
                </div>
                <table id="tab" class="w3-table-all w3-striped w3-bordered">
                    <div class="w3-bottombar w3-border-light-green w3-container w3-green">
                        <h6>Calculated Entries</h6>
                    </div>
                    <tr>
                        <th>Date</th>
                        <th>MPG</th>
                        <th>Miles</th>
                        <th>Gallons</th>
                        <th>Total Spent</th>
                        <th>Price of Gas</th>
                    </tr>
                </table>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                //runs when page is loaded
                $(function() {
                    //code found on example from JQuery-ui
                    $("#datepicker").datepicker({
                        changeMonth: true,
                        //dropdown lists for month and year
                        changeYear: true
                    });
                });
                var userValue = document.cookie.replace(/(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                $.ajax({
                    type: 'POST',
                    url: '/getMPG',
                    data: {
                        'userid': userValue
                    },
                    // uses userid for loading user-specific data
                    dataType: 'JSON',
                    complete: function(response, status) {
                        var table = document.getElementById('tab');
                        // gets table for appending to it
                        var data = response.responseJSON;
                        // JSON pack
                        if (data != undefined) {
                            //given there is JSON data
                            console.log("data found")
                            i = data.length;
                            //append through all data entries
                            for (var r = 0; r < i; r++) {
                                var row = document.createElement('tr');
                                var td0 = document.createElement('td');
                                var td1 = document.createElement('td');
                                var td2 = document.createElement('td');
                                var td3 = document.createElement('td');
                                var td4 = document.createElement('td');
                                var td5 = document.createElement('td');
                                td0.innerHTML = data[r][2];
                                td1.innerHTML = data[r][3];
                                td2.innerHTML = data[r][4];
                                td3.innerHTML = data[r][5];
                                td4.innerHTML = "$" + data[r][6];
                                td5.innerHTML = "$" + data[r][7];
                                row.appendChild(td0);
                                row.appendChild(td1);
                                row.appendChild(td2);
                                row.appendChild(td3);
                                row.appendChild(td4);
                                row.appendChild(td5);
                                row = table.appendChild(row);
                            }
                        }
                    }
                });
            });
        </script>
        <script>
            $("#calculateb").click(function() {
                var userValue = document.cookie.replace(/(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                var formData = {
                    distbefore: document.getElementById('distbefore').value,
                    distafter: document.getElementById('distafter').value,
                    date: String(document.getElementById('datepicker').value),
                    price: document.getElementById('price').value,
                    gallons: document.getElementById('gallons').value,
                    userid: userValue
                };
                $.ajax({
                    type: 'POST',
                    url: '/calculate',
                    data: formData,
                    dataType: 'JSON',
                    complete: function(response, status) {
                        //adds new entry to the table
                        var table = document.getElementById('tab');
                        var data = response.responseJSON;
                        // JSON packaging
                        var row = document.createElement('tr');
                        var td0 = document.createElement('td');
                        var td1 = document.createElement('td');
                        var td2 = document.createElement('td');
                        var td3 = document.createElement('td');
                        var td4 = document.createElement('td');
                        var td5 = document.createElement('td');
                        td0.innerHTML = data['date'];
                        td1.innerHTML = data['mpg'];
                        td2.innerHTML = data['miles'];
                        td3.innerHTML = data['gallonsgas'];
                        td4.innerHTML = data['pricegas'];
                        td5.innerHTML = data['pricepg'];
                        row.style.display = 'none';
                        row.appendChild(td0);
                        row.appendChild(td1);
                        row.appendChild(td2);
                        row.appendChild(td3);
                        row.appendChild(td4);
                        row.appendChild(td5);
                        row = table.appendChild(row);
                        $(row).fadeIn(250);
                    }
                });
                //resets form data with empty strings
                document.getElementById('distbefore').value = '';
                document.getElementById('distafter').value = '';
                document.getElementById('datepicker').value = '';
                document.getElementById('price').value = '';
                document.getElementById('gallons').value = '';
            });
        </script>
    </body>
</html>
