<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fuel Calculator Sign Up!</title>
  <link href="static/w3.css" rel="stylesheet" type="text/css">
  <link href="static/main.css" rel="stylesheet" type="text/css">
</head>

<body class = "w3-green">
  <form action = '/signup' method = 'post'>
    <div style = "width:35%; margin:0 auto!important" class = "w3-white w3-display-middle w3-card-4 w3-margin movedown">
        <div class="w3-container">
          <h2 class = "w3-center"> Sign up for Fuel Calculator! </h2>
          <input style = "width:80%; margin:0 auto!important" class = "w3-center w3-input" type="text" id = "fname" name="fname" placeholder = "Enter your first name">
          <input style = "width:80%; margin:0 auto!important" class = "w3-center w3-input" type="text" id = "username" name="username" placeholder = "Enter a username">
          <input style = "width:80%; margin:0 auto!important" class = "w3-center w3-input" type="password" id = "password" name="password" placeholder = "Enter a password">
          <br>
          <button class = "w3-btn-block w3-round-xxlarge w3-green container" onclick = "btntest_onclick()">Create account</button>
          <br>
          <button class = "w3-btn-block w3-round-xxlarge w3-green container" onclick = "btntest_backHome()">Back to Login</button>
          <br>
       </div>
    </div>
  </form>
  <script>
    function btntest_onclick()
    {
       document.cookie = "fname="+ document.getElementById('fname').value;
       window.location.href ="http://localhost:8080/";
    }
    function btntest_backHome()
    {
      window.location.href = "http://localhost:8080/login";
    }
  </script>
</body>
