.container {
  width:50%;
  margin:0 auto!important;
  display: block;
}

.movedown {
  padding-top:30px;
}

.movewaydown {
  padding-top:200px;
}

.errstyle {
  font-size: 1000%;
  text-align: center;
  padding-top: 30px;
}
